* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

.navData {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #2e3192;
    justify-content: space-between;
}

.companyData {
    display: flex;
    width: 100%;
    color: white;
}

.companyPic {
    display: flex;
    width: 16%;
}

.iconData {
    font-size: 1vw;
    justify-content: flex-end;
    text-align: center;
    color: white;
    display: flex;
    gap: 1rem;
}

.paragraph {
    display: flex;
    justify-content: center;
    color: white;
    font-size: x-large;
}

.sectionA {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.search-bar {
    margin: 0 0 0 15vw;
    
}

body {
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 1%;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 55%;
    background: #f1f1f1;
}

form.example .button1 {
    display: flex;
    gap: 5%;
    float: left;
    width: 15%;
    padding: 12px;
    background: #ececec;
    color: #333;
    font-size: 17px;
    border: 1px solid grey;
    border: 0;
    cursor: pointer;
}

form.example .button2 {
    display: flex;
    gap: 5%;
    float: left;
    width: 10%;
    padding: 12px;
    background: #058b80;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border: 0;
    cursor: pointer;
}
