* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.navData {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #2e3192;
    gap: 60%;
}

.companyData {
    display: flex;
    width: 100%;
    color: white;
}

.companyPic {
    display: flex;
    width: 16%;
}

.iconData {
    font-size: 1vw;
    justify-content: flex-end;
    text-align: center;
    color: white;
    display: flex;
    gap: 1rem;
}

.main {
    background-color: #ebedfd;
}

.paragraph {
    display: flex;
    justify-content: center;
    color: white;
    font-size: x-large;
}

.section1 {
    background-image: url(./img/img.jpg);
    padding: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vw;
    text-align: center;
}

.search-bar {
    margin-left: 15vw;
}

.input {
    height: 3vw;
    font-size: 1vw;
    border: 1px solid grey;
    float: left;
    width: 55%;
    background: white;
}

.button1 {
    float: left;
    width: 15%;
    padding: 1px;
    background: #ececec;
    color: #333;
    font-size: 1vw;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.button2 {
    float: left;
    width: 15%;
    padding: 10px;
    background: #02625a;
    color: #fff;
    font-size: 1vw;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.section2 {
    display: flex;
    justify-content: space-around;
    gap: 2vw;
    background-color: white;
}

.borderBottom {
    border-bottom: 3px solid rgba(0, 0, 0, 0.027);
}

.links {
    width: 100%;
    height: 80%;
}

.dataLink1{
    display: flex;
    flex-direction: row;
    gap: 8vw;
}

.dataLink2 {
    display: flex;
    flex-direction: row;
    gap: 8vw;
}

.dataLink3 {
    display: flex;
    flex-direction: row;
    gap: 8vw;
}

.logos {
    display: flex;
    gap: 2;
}

.img {
    display: flex;
    width: 4vw;
    height: 4vw;
}

.logos {
    display: flex;
}

.text {
    display: flex;
    align-self: center;
}

#arrow {
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.example {
    display: flex;
    align-self: center;
}

.img2 {
    width: 2vw;
    height: 2vw;
}

.imp-logos {
    display: flex;
    gap: 2vw;
    text-align: center;
}

.part1 {
    display: flex;
    flex-direction: column;
    font-size: large;
    margin-top: 5vw;
    margin-left: 2vw;
    gap: 2vw;
}

.part2 {
    display: flex;
    flex-direction: column;
    background-image: url(./img/home-banner-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 25vw;
    align-items: flex-end;
    margin-top: 1vw;
}

.section3 {
    display: flex;
    align-content: center;
    background-color: white;
    width: 100%;
}

.data {
    display: flex;
    margin: 8vw;
    flex-direction: column;
    width: 30%;
    gap: 1vw;
}

.nameInput {
    width: 50%;
}

.submitBtn {
    border: 0;
    color: #ececec;
    width: 60%;
    margin: 0 0 0 6vw;
    background-color: rgb(0, 166, 153);
    padding: 2%;
}

.section4 {
    gap: 20vw;
    justify-content: center;
    align-self: center;
    background-color: white;
    margin: 0 3rem 0 3rem;
}

.mainDIV {
    padding: 20px 1.5vw;
    margin: 20rem;
}

.data1 {
    padding: 20px 1.5vw;
    border: 1px solid rgba(13, 1, 68, 0.226);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    gap: 2vw;
    background-color: #ebedfd;
    filter: drop-shadow(0 0 0.75rem rgba(13, 1, 68, 0.226));
    margin: 2rem 0 2rem 0;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.box {
    display: flex;
    filter: drop-shadow(0 0 0.75rem rgba(9, 1, 43, 0.226));
    overflow: hidden;
    margin: auto;
    height: 90%;
    align-items: center;
    justify-content: center;
    font-size: large;
    width: 50%;
    background-color: white;
}

.maskImg {
    width: 10rem;
    height: 10rem;
}

.medImg {
    width: 10rem;
    height: 10rem;
}

.caption1 {
    display: inline-block;
    height: 40vw;
    width: 10vw;
    background-image: url("./img/blue-medical-face-mask-disposable.jpg");
    background-position: center;
    width: 30%;
}

.bigImg {
    display: flex;
    gap: 2.5%;
}

.img3 {
    height: 35vw;
    width: 25vw;
}

.data2 {
    display: flex;
    flex-direction: column;
    margin-top: 2rem 0 2rem 0;
}

.heading {
    font-size: large;
    margin-bottom: 2vw;
    font-size: xx-large;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 70%;
}

.card {
    border: 0.5px solid rgba(0, 0, 0, 0.37);
    display: flex;
    align-items: center;
}

.card-b {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 95%;
}

.card img {
    border: 0;
}

.pamplate {
    display: flex;
    justify-content: space-around
}

.info {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: left;
    justify-content: space-around;
    font-size: 1.5vw;
    gap: 2vw;
    margin-left: 10%;
}

.section5 {
    display: flex;
    gap: 20vw;
    justify-content: center;
}

.section6 {
    display: flex;
    gap: 6vw;
    justify-content: center;
}

.footer {
    display: flex;
    gap: 20vw;
    justify-content: center;
}

.phoneImg {
    width: 25%;
}

.appleStore {
    width: 25%;
    margin-left: 70%;
}

.playStore {
    width: 10%;
}

.stores {
    display: flex;
    justify-content: space-around;
}

.options {
    display: flex;
    gap: 5vw;
    font-size: larger;
    text-align: center;
}